/* darkblue main: #12374F , lightblue main: #95B7CF , darkbrown secondary: #4F3612 , lightbrown secondary: #AB987D */

* { 
    margin: 0;
    padding: 0;
    font-size: 18px;
    border-style: none;
}

body{  
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: url("marcelo-quinan-R3pUGn5YiTg-unsplash.jpg");
    background-color: #12374F;
    height: 100vh;
    z-index: -1;
}

header {
    font-family: "Playwrite HR", "Roboto", "Arial";
    background-color: #4F3612;
    width: 100%;
    margin:auto;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    opacity:70%;
    box-shadow: 0px 0px 5px 0px #000;
}

h1 {
    font-size: 4em;
    color: #95B7CF;

}

input {
    border-radius: 8px;
    padding-left: 20px;
    background-color: #ccc;
}

#inputAndBtnDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height:40px;

}

#addTask {
    width: 280px;
    margin-right:5px;
}

#addBtn {
    width: 100px;
    border-radius: 8px;
    background-color: #AB987D;
    color: #111;
    font-weight: bold;
}

#listAndBtnDiv { 
    display: flex;
    justify-content: center;
}

li {
    box-sizing: border-box;
    background-color: #ccc;
    border-radius: 8px;
    list-style: none;
    width: 300px;
    margin-bottom: 20px;
    margin-right:5px;
    line-height: 40px;  
    padding-left: 10px;
    height: 40px;
}

.completed {
    list-style: none;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-decoration: line-through;
    background-color: #aea;
}

#removeTaskDiv {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

button img{
    height:25px;
    vertical-align: middle;
}

#removeTaskDiv button {
    width: 55px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #AB987D;
}

#infoBox {
    margin: 20px auto;
    width: 400px;
    height: 30px;
    text-align: center;
    color: #c55;
    
}

#nrOfCompleted{
    margin-left: 30px;
    width: 400px;
    height: 30px;
    margin: auto;
    color: #ccc;
}

.notebook_img{
    margin-top: 50px;
    text-align: center;
    filter: saturate(0.6);
    opacity: 100%;
}

